name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Make sure the release step uses its own credentials:
          # https://github.com/cycjimmy/semantic-release-action#private-packages
          persist-credentials: false
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
      - name: Setup Android SDK
        uses: amyu/setup-android@v2
        with:
          cache-disabled: false
          sdk-version: '33'
          build-tools-version: '33.0.1'
      - name: Build with Gradle
        env:
          GITHUB_TOKEN: ${{ secrets.REPOSITORY_PUSH_ACCESS }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
        run: ./gradlew generateMeta clean --no-daemon
      - name: Setup semantic-release
        run: npm install --Force 
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          fingerprint: ${{ vars.GPG_FINGERPRINT }}
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
        run: npm exec semantic-release
